//--------------------------------------------------------------
//>>> #1.0 - Media queries MIXIN
//--------------------------------------------------------------

$breakpoints: (
  'sm': 480px,
  'md': 768px,
  'lg': 992px,
  'xl': 1170px
);

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

//--------------------------------------------------------------
//>>> #2.0 - Circle MIXIN
//--------------------------------------------------------------

@mixin circle($arc) {
  border-radius: $arc;
  -moz-border-radius: $arc;
}
