$color-blue: #0196f5;
$color-blue--light: #00baff;
$color-light: #f8fffb;
$color-grey--border: #eeeeee;
$color-green: #2ecc71;
$color-dark: #00192c;
$color-grey--font: #cacaca;
$color-grey--logo: #9f9f9f;
