/* Prefooter Component */

.prefooter {
  width: 100%;
  background: $color-dark;
  text-align: center;
  padding: em(100) 0;

  @include mq(sm, max) {
    padding: em(75) 0;
  }

  &__heading {
    font-size: em(30);
    color: $color-light;
    padding-bottom: em(30, 30);
  }

  &__text {
    font-size: em(18);
    color: $color-grey--font;
    padding: 0 em(120);
    padding-bottom: em(60, 18);
    line-height: 1.5;

    @include mq(md, max) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq(sm, max) {
      flex-direction: column;
      max-width: 300px;
      margin: 0 auto;
    }
  }

  &__form > .btn {
    border: none;

    @include mq(sm, max) {
      flex-basis: 100%;
    }
  }

  &__input {
    background: transparent;
    border: 1px solid $color-light;
    border-radius: 5px;
    font-size: em(14);
    width: 300px;
    padding: em(15, 14);
    color: $color-light;
    margin-right: em(20, 14);

    @include mq(sm, max) {
      margin-right: 0;
      margin-bottom: em(20, 14);
      flex: 1;
    }

    &::placeholder {
      color: $color-light;
    }
  }
}
