/* Support Component */

.support {
  width: 100%;
  padding: em(50) 0;

  @include mq(lg, max) {
    padding: em(75) 0;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @include mq(lg, max) {
      grid-template-columns: 1fr;
    }
  }

  &__content {
    @include mq(lg, max) {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
  }

  &__img {
    max-width: 100%;
    height: auto;

    @include mq(lg, max) {
      display: none;
    }
  }

  &__heading {
    font-size: em(30);
    color: $color-dark;
    padding-bottom: em(25, 30);
  }

  &__text {
    color: $color-grey--font;
    line-height: 1.3;
    padding-bottom: em(40);

    @include mq(lg, max) {
      padding-left: em(100);
      padding-right: em(100);
    }

    @include mq(md, max) {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: em(20);
    }
  }

  &__button-wrapper {
    display: flex;

    @include mq(sm, max) {
      flex-direction: column;
      align-items: center;
    }

    & > .btn:first-of-type {
      margin-right: em(20, 18);

      @include mq(sm, max) {
        margin: em(20, 18);
      }
    }
  }
}
